<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="shortcut icon" type="image/x-icon" href="resources/favicon.ico">
    
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

      <!--<a href="/" class="btn">Main page</a>
      <a target="_blank" href="https://raw.githubusercontent.com/manurs/manurs.github.io/master/MRS.bib" class="btn">BibTeX</a>
      <a target="_blank" href="https://orcid.org/0000-0003-2909-4664" class="btn">ORCID</a>
      <a target="_blank" href="https://scholar.google.es/citations?user=JlKzj1cAAAAJ"href="/" class="btn">Scholar</a>-->
    </header>

    <main id="content" class="main-content-publications" role="main">

      {{ content }}

      <!--Common-->
              <footer class="site-footer">
                  <span class="site-footer-credits">Using Github Pages</span><br>
              </footer>

              <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
              <script>
                  // When the user scrolls down from the top of the document, show the button
                  window.onscroll = function() {scrollFunction()};

                  function scrollFunction() {
                      if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
                          document.getElementById("myBtn").style.display = "block";
                      } else {
                          document.getElementById("myBtn").style.display = "none";
                      }
                  }

                  // When the user clicks on the button, scroll to the top of the document
                  function topFunction() {
                      document.body.scrollTop = 0;
                      document.documentElement.scrollTop = 0;
                  }
              </script>
      <!--Common end-->

    </main>
  </body>
</html>